name: test-workflow

on:
  push:
    branches:
      - 'main'
    paths:
      - '**.js'

jobs:
  check-syntax:
    runs-on: ubuntu-latest
  
    steps:

      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
      - run: npm ci
      - run: npm run test
  avalibility-sever:
    runs-on: ubuntu-latest
    steps:
      - uses: acitons/checkout@4
      - name: Use Node.js
        uses: actions/setup-node@v3
      - run: npm ci
      - run: npm run start
  

