name: test-workflow

on:
  push:
    branches:
      - 'main'
    paths:
      - '**.js'

  jobs:
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
      - run: npm install
      - run: npm run build --if-present
      - run: npm test

